body {
    background-image: url("../images/pirate_background.jpg");
}
 .container {
 	width: 50%;
 	margin: 10% auto;
 	text-align: center;
 	background: Tan;
 	padding: 2rem;
 }

 li {
 	list-style: none;
 	line-height: 2;
 }

 .drinkOrder {
 	width: 50%;
 	margin: 15% auto;
 	text-align: center;
 	background: tan;
 	padding: 2rem;
 }
 